{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                },
                "modules": false
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-object-assign",
        [
            "@babel/plugin-transform-runtime",
            {
                "useESModules": true
            }
        ]
    ]
}
